export(sBMH)
export(sCompReorder)
export(sDistance)
export(sDmat)
export(sDmatCluster)
export(sDmatMinima)
export(sHexDist)
export(sHexGrid)
export(sInitial)
export(sMapOverlay)
export(sNeighAny)
export(sNeighDirect)
export(sPipeline)
export(sTopology)
export(sTrainBatch)
export(sTrainology)
export(sTrainSeq)
export(sWriteData)
export(visColorbar)
export(visColormap)
export(visCompReorder)
export(visDmatCluster)
export(visHexComp)
export(visHexGrid)
export(visHexMapping)
export(visHexMulComp)
export(visHexPattern)
export(visKernels)
export(visVp)
